/* styles/Deck.module.css */
.deckContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  width: 100%;
  height: 350px;
}

.deck {
  position: absolute;
  width: fit-content;
  top: 0;
  transition: transform 1s;
}
