/* components/TaroCard.module.css */
.card {
  display: inline-grid;
  border-radius: 8px;
  width: 200px;
  height: 300px;
  perspective: 800px;
  cursor: pointer;
}

.card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.flipped .card_inner {
  transform: rotateY(180deg);
}

.card_front, .card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card_front {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_back {
  /* 기본적으로 뒷면이 먼저 보임 */
}


.image {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scale:hover{
  transform: scale(1.05);
  transition: 0.1s;

  content: ""; /* 가상 요소를 생성합니다. */
  position: absolute; /* 부모 요소를 기준으로 절대 위치를 설정합니다. */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* 옅은 검은색 배경을 추가합니다. */
}

.info {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 0;
  color: white;
}

.title {
  font-size: 1.2em;
  margin-bottom: 8px;
}
