/* components/TaroCard.module.css */
.card {
  display: absolute;
  border-radius: 8px;
  width: fit-content;
  perspective: 220px;
  top: 0;
  transition: transform 1s;
}

.corner {
  border: 1px solid black;
}

.top {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

}

.right {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.bottom {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.card_inner {
  position: relative;
  width: 120px; 
  height: 220px;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  border-radius: 8px;

  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 10px 1fr 10px;

  background-color: lavender;
}

.inner_layout {
  position: absolute;
  width: 100px;
  height: 200px;
  backface-visibility: hidden;
  border-radius: 8px;
  
  top: 50%;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card_front {
  transform: translate(-50%, -50%) rotateY(180deg);
  background-color: lightblue;
}

.card_front_reversed {
  transform: translate(-50%, -50%) rotateY(180deg) rotate(180deg);
  background-color: lightblue;
}

.card_back {
  transform: translate(-50%, -50%);
  background-color: lightslategray;
}
